@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-0\.13\.alpha\.4\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss;
  }

  line {
    font-family: \0000317;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-0\.13\.alpha\.4\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss;
  }

  line {
    font-family: \0000322;
  }
}

html {
  line-height: 1;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-0\.13\.alpha\.4\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss;
  }

  line {
    font-family: \0000324;
  }
}

ol,
ul {
  list-style: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-0\.13\.alpha\.4\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss;
  }

  line {
    font-family: \0000326;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-0\.13\.alpha\.4\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss;
  }

  line {
    font-family: \0000328;
  }
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-0\.13\.alpha\.4\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss;
  }

  line {
    font-family: \0000330;
  }
}

q,
blockquote {
  quotes: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-0\.13\.alpha\.4\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss;
  }

  line {
    font-family: \00003103;
  }
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-0\.13\.alpha\.4\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss;
  }

  line {
    font-family: \0000332;
  }
}

a img {
  border: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-0\.13\.alpha\.4\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss;
  }

  line {
    font-family: \00003116;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/images\/ui\/\*\.png;
  }

  line {
    font-family: \0000379;
  }
}

.ui-sprite,
.container.desktop div.sync,
.container.desktop div.happy-new-year h1,
.container.desktop div.happy-new-year div.horse-stars,
.container.desktop div.happy-new-year div.horse-stars div,
.container.desktop div.happy-new-year div.shooting-star {
  background-image: url('../images/../images/ui-s67b50ea90d.png');
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'FuturaBold';
  src: url("../fonts/futurab-webfont.eot");
  src: url("../fonts/futurab-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futurab-webfont.woff") format("woff"), url("../fonts/futurab-webfont.ttf") format("truetype"), url("../fonts/futurab-webfont.otf") format("opentype"), url("../fonts/futurab-webfont.svg#FuturaBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBook';
  src: url("../fonts/futuran-webfont.eot");
  src: url("../fonts/futuran-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futuran-webfont.woff") format("woff"), url("../fonts/futuran-webfont.ttf") format("truetype"), url("../fonts/futuran-webfont.otf") format("opentype"), url("../fonts/futuran-webfont.svg#FuturaBook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000336;
  }
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000343;
  }
}

.clear:before,
.clear:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000349;
  }
}

.clear:after {
  clear: both;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000351;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000358;
  }
}

body {
  background: transparent;
  font-family: 'FuturaBook', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000366;
  }
}

.container {
  margin: 0 auto;
  height: 100%;
  text-align: center;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000370;
  }
}

.container.desktop {
  width: 100%;
  background-image: url(../images/bg-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000377;
  }
}

.container.desktop:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: highlightItem 10s ease-in-out 0.5s infinite alternate;
  background-image: url(../images/bg-shinny.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  content: "";
  display: block;
  height: 110%;
  left: 0;
  position: absolute;
  top: 0;
  width: 110%;
  z-index: 2;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000393;
  }
}

.container.desktop h1 {
  color: #e43a50;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 2px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000399;
  }
}

.container.desktop div.content {
  height: 450px;
  width: 100%;
  top: 50%;
  position: absolute;
  margin-top: -325px;
  letter-spacing: 2px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003107;
  }
}

.container.desktop div.sync {
  background-position: 0 -937px;
  height: 56px;
  width: 164px;
  margin: 0 auto 50px auto;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003113;
  }
}

.container.desktop .instructions {
  width: 890px;
  margin: 44px auto;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003116;
  }
}

.container.desktop .instructions h2 {
  font-size: 18px;
  color: #fff;
  line-height: 1.4em;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003121;
  }
}

.container.desktop .instructions > div {
  float: left;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003124;
  }
}

.container.desktop .instructions .circle {
  height: 280px;
  width: 280px;
  border-radius: 140px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 50px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003130;
  }
}

.container.desktop .instructions .circle div {
  padding-top: 16px;
  margin: 40px auto;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  width: 240px;
  height: 48px;
  font-size: 17px;
  color: #fff;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003141;
  }
}

.container.desktop .instructions .qr-code-container {
  width: 330px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003143;
  }
}

.container.desktop .instructions .qr-code-container img {
  margin-top: 48px;
  margin-bottom: 44px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003147;
  }
}

.container.desktop .instructions .qr-code-container h2 {
  position: relative;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003149;
  }
}

.container.desktop .instructions .qr-code-container h2:before {
  content: "^";
  font-size: 30px;
  position: absolute;
  display: block;
  width: 30px;
  left: 50%;
  margin-left: -15px;
  top: -30px;
  height: 20px;
  font-family: Tahoma;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003164;
  }
}

.container.desktop .cloud {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: left 100ms linear;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003178;
  }
}

.container.desktop .cloud > div {
  background-size: contain;
  background-repeat: no-repeat;
  left: 50%;
  height: 100%;
  position: absolute;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003186;
  }
}

.container.desktop .cloud#cloud1 {
  height: 108px;
  top: 450px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003187;
  }
}

.container.desktop .cloud#cloud2 {
  height: 556px;
  top: 0%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003188;
  }
}

.container.desktop .cloud#cloud3 {
  height: 150px;
  top: 300px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003189;
  }
}

.container.desktop .cloud#cloud4 {
  height: 186px;
  top: 1px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003190;
  }
}

.container.desktop .cloud#cloud5 {
  height: 352px;
  top: 190px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003191;
  }
}

.container.desktop .cloud#cloud6 {
  height: 317px;
  top: 95px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003192;
  }
}

.container.desktop .cloud#cloud7 {
  height: 218px;
  top: 350px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003193;
  }
}

.container.desktop .cloud#cloud8 {
  height: 252px;
  top: 10px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003195;
  }
}

.container.desktop .cloud#cloud1 div {
  background-image: url(../images/clouds/cloud-01.png);
  width: 339px;
  margin-left: -20px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003196;
  }
}

.container.desktop .cloud#cloud2 div {
  background-image: url(../images/clouds/cloud-02.png);
  width: 882px;
  margin-left: -120px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003197;
  }
}

.container.desktop .cloud#cloud3 div {
  background-image: url(../images/clouds/cloud-03.png);
  width: 327px;
  margin-left: 350px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003198;
  }
}

.container.desktop .cloud#cloud4 div {
  background-image: url(../images/clouds/cloud-04.png);
  width: 458px;
  margin-left: -330px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003199;
  }
}

.container.desktop .cloud#cloud5 div {
  background-image: url(../images/clouds/cloud-05.png);
  width: 656px;
  margin-left: -30px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003200;
  }
}

.container.desktop .cloud#cloud6 div {
  background-image: url(../images/clouds/cloud-06.png);
  width: 892px;
  margin-left: -620px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003201;
  }
}

.container.desktop .cloud#cloud7 div {
  background-image: url(../images/clouds/cloud-07.png);
  width: 673px;
  margin-left: -610px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003202;
  }
}

.container.desktop .cloud#cloud8 div {
  background-image: url(../images/clouds/cloud-08.png);
  width: 522px;
  margin-left: -180px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003204;
  }
}

.container.desktop div.happy-new-year {
  position: absolute;
  left: 50%;
  margin-left: -358px;
  top: 50%;
  margin-top: -350px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003210;
  }
}

.container.desktop div.happy-new-year h1 {
  background-position: 0 0;
  height: 158px;
  width: 716px;
  margin: 0 auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition-delay: 1000ms;
  transition: opacity 1000ms ease 1000ms;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003218;
  }
}

.container.desktop div.happy-new-year div.horse-stars {
  margin: 30px auto 0 auto;
  background-position: 0 -158px;
  height: 368px;
  width: 368px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition-delay: 3000ms;
  transition: opacity 1000ms ease 3000ms;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003225;
  }
}

.container.desktop div.happy-new-year div.horse-stars div {
  background-position: 0 -526px;
  height: 368px;
  width: 368px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition-delay: 5000ms;
  transition: opacity 1000ms ease 5000ms;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003233;
  }
}

.container.desktop div.happy-new-year div.shooting-star {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: -10%;
  left: -10%;
  background-position: 0 -894px;
  height: 43px;
  width: 70px;
  -webkit-transition-delay: 3000ms;
  transition: all 1000ms ease 3000ms;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003244;
  }
}

.container.desktop div.happy-new-year.active h1 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003247;
  }
}

.container.desktop div.happy-new-year.active div.horse-stars {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003249;
  }
}

.container.desktop div.happy-new-year.active div.horse-stars div {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003253;
  }
}

.container.desktop div.happy-new-year.active div.shooting-star {
  top: 110%;
  left: 60%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003259;
  }
}

.container.desktop div.footer {
  height: 120px;
  width: 100%;
  padding-top: 30px;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003266;
  }
}

.container.desktop div.footer p {
  color: #c4b191;
  line-height: 1.4em;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003270;
  }
}

.container.desktop div.footer a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003277;
  }
}

.container.mobile {
  width: 640px;
  background-image: url(../images/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003283;
  }
}

.container.mobile form {
  padding-top: 220px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/var\/www\/asiance\/2014\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003285;
  }
}

.container.mobile form input {
  width: 460px;
  height: 100px;
  font-size: 50px;
  padding: 20px;
  text-align: center;
  margin-bottom: 50px;
}