<div class="cloud right" id="cloud1" distance="{{distance}}"><div></div></div>
<div class="cloud right" id="cloud2" distance="{{distance}}"><div></div></div>
<div class="cloud right" id="cloud3" distance="{{distance}}"><div></div></div>
<div class="cloud left" id="cloud4" distance="{{distance}}"><div></div></div>
<div class="cloud right" id="cloud5" distance="{{distance}}"><div></div></div>
<div class="cloud left" id="cloud6" distance="{{distance}}"><div></div></div>
<div class="cloud left" id="cloud7" distance="{{distance}}"><div></div></div>
<div class="cloud right" id="cloud8" distance="{{distance}}"><div></div></div>

<div class="happy-new-year" distance="{{distance}}">
  <h1></h1>
  <div class="horse-stars">
    <div></div>
  </div>
  <div class="shooting-star">

  </div>
</div>

<div class="footer">
  <strong>Wind speed: {{windVelocity}}</strong>
  <a href="http://www.asiance.com" target="_blank">
    <img src="./images/logo-asiance.png" alt="Asiance_Your Digital Agency in Asia" width="108" height="45">
  </a>
</div>