<div class="cloud right" id="cloud1" distance="{{distance}}" speed="0.5"><div></div></div>
<div class="cloud right" id="cloud2" distance="{{distance}}" speed="1"><div></div></div>
<div class="cloud right" id="cloud3" distance="{{distance}}" speed="0.75"><div></div></div>
<div class="cloud left" id="cloud4" distance="{{distance}}" speed="1"><div></div></div>
<div class="cloud right" id="cloud5" distance="{{distance}}" speed="1.5"><div></div></div>
<div class="cloud left" id="cloud6" distance="{{distance}}" speed="1.5"><div></div></div>
<div class="cloud left" id="cloud7" distance="{{distance}}" speed="1"><div></div></div>
<div class="cloud right" id="cloud8" distance="{{distance}}" speed="0.75"><div></div></div>

<div class="happy-new-year" distance="{{distance}}">
  <h1></h1>
  <div class="horse-stars">
    <div></div>
  </div>
</div>

<!-- <object width="100%" height="100%" wmode="transparent" speed="{{windVelocity}}" class="wind">
  <param name="movie" value="/images/wind_anim.swf">
  <embed src="/images/wind_anim.swf" width="100%" height="100%">
  </embed>
</object> -->

<div class="footer">
  <a href="http://www.asiance.com" target="_blank">
    <img src="./images/logo-asiance.png" alt="Asiance_Your Digital Agency in Asia" width="108" height="45">
  </a>
</div>