<div class="content">

  <div class="sync"></div>

  <h1>Synchronise your smartphone with your computer to see the experience.</h1>

  <div class="instructions">
    <div class="circle">
      <h2>
        Enter the url <br>
        on your smartphone
      </h2>
      <div>2014.ASIANCE.COM</div>
    </div>
    <div class="qr-code-container">
      <img ng-src="https://chart.googleapis.com/chart?chs=140x140&cht=qr&choe=UTF-8&chld=L|0&chl=http%3A%2F%2F2014.asiance.com%2F#%2Fmobile%2F{{room}}" alt="Scan the QR code" width="140" height="140">
      <h2>
        Or scan this QR Code <br>
        with your smartphone
      </h2>
    </div>
    <div class="circle">
      <h2>
        Then enter<br>
        this code:
      </h2>
      <div>{{room}}</div>
    </div>
  </div>

</div>

<div class="footer">
  <p>
    This experience requires the latest browser like <br>
    Google Chrome, Firefox or IE9.
  </p>
  <a href="http://www.asiance.com" target="_blank">
    <img src="./images/logo-asiance.png" alt="Asiance_Your Digital Agency in Asia" width="108" height="45">
  </a>
</div>
